[2022-10-17 19:55] rdavydov opened #2 "Switchable Analytics, Discord, Telegram"
Add a global variable like `enableAnalytics, enableDiscord, enableTelegram`.
Check it everywhere (in all files) and execute pieces of code only if this variable is true.

Should reduce memory consumption by disabling non-needed modules and save disk space by not creating and writing `/analytics/*.json`.

[2022-10-17 19:57] rdavydov opened #3 "Remove __pycache__"
Get rid of `__pycache__` :)

[2022-10-17 20:01] rdavydov commented on #2
Some non-trustworthy source reports that memory consumption will drop from 60-160 MB to 33-35 MB by disabling (removing) Analytics, Discord and Telegram everywhere in the code.
Need to check that.

[2022-10-19 09:34] VitaliShilov commented on #2
and without drops, its will be nice

[2022-10-19 13:12] rdavydov commented on #2
It is already implemented:
[code]

[2022-10-19 20:47] rdavydov commented on #2
Implementing switchable analytics in https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/tree/switchable
Will be merged to the `master` branch after some testing.

New config parameter `enable_analytics` can be seen in `example.py`.

From a couple of tests that I've done on my Windows 10 PC - it reduces memory consumption significantly - **from 800 MB with enabled analytics to 40 MB with di

[2022-10-19 21:24] rdavydov commented on #3
Probably just need to create a shell script that will remove those dirs before each commit.

[2022-10-20 11:40] ra1yuga opened #5 "[False] +50 bonus still not working"
hey i came to your project a few days back after the bonus claim ( +50 ) stopped working on the main repo
tried your version of the project and neither +50 nor auto claim drop is working using this code as well

am i missing something or was the bonus claim not solved in the first place ?

[2022-10-20 12:04] rdavydov commented on #5
Not a bug. Question.

@ra1yuga It is solved. Everything is working. Something is wrong on your end.

You have to help me to help you. Provide more info, DEBUG log, etc.

[2022-10-20 13:35] #5 closed

[2022-10-21 10:07] #3 closed

[2022-10-21 10:07] #2 closed

[2022-10-24 09:34] rvst1104 opened #9 "Create Docker Container"
Do you consider creating a runnable Docker container as currently from my understanding there is no way to run this in a Docker container.

[2022-10-24 09:37] rdavydov commented on #9
Try this instruction:

### Building the Docker image

Once in releases, download the .zip file, and unzip it.
Go to the folder and enter this command: `docker build -t twitchbot:experimental . `
Make sure to copy the `.` at the end, this will build the image for you.
Thx to @NoxRare for the info.

[2022-10-24 09:42] rdavydov commented on #9
I'll think about creating and maintaining my public Docker container, but no promises, because Docker is an uncharted territory for me. ;)

[2022-10-24 09:50] rvst1104 commented on #9
Will give it a try when I have some free time left. Thanks for the quick reply!

[2022-10-24 09:50] #9 closed

[2022-10-24 09:51] rvst1104 commented on #9
Would love to see that 😀

[2022-10-24 10:30] L-Ratio opened #10 "Analytics throwing AttributeError"
When trying to run analytics on a web service I get this error
I do have analytics set to True in the file as well

`Oct 24 04:26:29 AM  AttributeError: analytics
Oct 24 04:28:00 AM  ==> Starting service with 'python run.py -p $PORT'
Oct 24 04:28:09 AM  Traceback (most recent call last):
Oct 24 04:28:09 AM    File "run.py", line 80, in <module>
Oct 24 04:28:09 AM      twitch_miner.analytics(host="

[2022-10-24 10:34] rdavydov commented on #10
There is a known bug, fixing and testing it now.
Will post an update soon, please wait and check the updated version once it will be available.

[2022-10-24 12:16] rdavydov commented on #10
Please check the latest version from the master branch.
Here's the release "for noobs" as usual: https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/releases/tag/1.3.4

[2022-10-24 15:51] PakDevil opened #14 "Bot sending messages?"
So I am using this bot for a day now and I got banned from multiply streamers that were on the list, I didn't touch twitch at all when I got banned, my question is: is it possible that the bot sending auto messages from my account? or is it something with my account that I need to fix?

[2022-10-24 16:11] rdavydov commented on #14
No, Twitch Channel Points Miner has no ability to send messages to the chat.

[2022-10-24 16:12] PakDevil commented on #14
so all the bot is able to do is collect points? it has no power to send messages?
if so I guess I need to check my security again

[2022-10-24 16:14] PakDevil commented on #14
ok thank you, I'll check my security on twitch then

[2022-10-25 04:55] #10 closed

[2022-10-25 19:06] #14 closed

[2022-10-27 04:40] ArtemBay commented on #5
I think i not working. Logs:
[log.txt](https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/files/9875819/log.txt)

[2022-10-27 08:24] rdavydov commented on #5
@ArtemBay And why exactly do you think it is not working?

[2022-10-27 08:29] rdavydov commented on #5
It is working for everybody but you, obviously you're doing something wrong.

I see this in your log:
`25/10/22 16:16:55 - DEBUG - TwitchChannelPointsMiner.classes.Twitch - [post_gql_request]: Data: {'operationName': 'ClaimCommunityPoints', 'extensions': {'persistedQuery': {'version': 1, 'sha256Hash': '46aaeebe02c99afdf4fc97c7c0cba964124bf6b0af229395f1f6d1feed05b3d0'}}, 'variables': {'input': {'ch

[2022-10-28 19:34] XaaRii opened #15 "Problem with generating new cookies file"
**Describe the bug**
Problem with generating new cookies file, but existing ones work just fine

**To Reproduce**
Steps to reproduce the behavior:
1. Download latest version (currently 1.3.4)
2. Install prerequisities with pip install -r requirements.txt
3. Copy the example file and change the username (password set to "" -> will ask interactively)
4. Run the modified script, be asked to enter the

[2022-10-28 21:59] PingkeuKeobi commented on #15
I can confirm, I have the same issue.

[2022-10-29 00:50] MyNameJeff12123 commented on #15
Twitch have now changed the Login, the client no longer works.
{"error":"Please update your app to continue","error_code":5023,"error_description":"client is not supported for this feature"}
Simply changing the client ID is not enough, I believe they now require a Integrity Check too.

[2022-10-29 08:11] Rakambda commented on #15
I tried with the iOS app, not android, but I believe they work the same for login.
And indeed they now have the integrity token and login calls is now on `/protected_login`.

![image](https://user-images.githubusercontent.com/1688389/198821163-06841185-daa3-428d-9f96-92ae4ad694c1.png)
![image](https://user-images.githubusercontent.com/1688389/198821167-ff3addc0-8721-4aca-8655-09b6a097cd42.png)

[2022-10-29 08:47] MyNameJeff12123 commented on #15
I don’t think it does. I think it works a little different because you cannot send oauth without having logged in? Sent from my iPhone 13 Pro MaxOn 29 Oct 2022, at 09:11, Thomas ***@***.***> wrote:﻿
I tried with the iOS app, not android, but I believe they work the same for login.
And indeed they now have the integrity token and login calls is now on /protected_login.

—Reply to this email directl

[2022-10-29 11:01] Mohamed6935 opened #16 "Problem with logging in maybe?"
![Screenshot_20221029-123428](https://user-images.githubusercontent.com/103905207/198827684-67392789-9fc1-4657-9aef-dfa9da1bfcc0.png)
![Screenshot_20221029-123435](https://user-images.githubusercontent.com/103905207/198827688-72aaeb5a-63b4-4f3f-ae8b-bda782542398.png)
On termux
Even when I have my login info in the py it still says so. This is same issue that I posted in the other repo since don't

[2022-10-29 11:03] rdavydov commented on #16
Duplicate, same underlying reason as in https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/issues/15

[2022-10-29 11:03] #16 closed

[2022-10-29 11:11] Mohamed6935 commented on #15
So any idea how to fix this?

[2022-10-29 11:15] MyNameJeff12123 commented on #15
I believe the dev is aware, and probably working on the authentication system, I also am looking into this.

[2022-10-29 11:19] Mohamed6935 commented on #15
Last question since not sure if it is related to this.i am currently running the pc version (not docker) and for some reason I only got raid points and no watch/claim . Even though the day before I could half them all even with 2 streams running

[2022-10-29 11:46] rdavydov commented on #15
This will require some severe changes to `TwitchLogin.py`, now it also needs to get `integrity_token`. And we need to figure out what `GQLOperation` will it be - `ReportMenuItem` or something new. 🤔

@bossoq please take a look and help us if you have time.

[2022-10-29 11:55] MyNameJeff12123 commented on #15
Even on desktop browser as a phone I get HTTP 400 Error /  {"error":"Oops! We encountered an unexpected error. Please try again.","errors":["Oops! We encountered an unexpected error. Please try again."],"error_code":5025,"error_description":"integrity failed"}

[2022-10-29 12:29] MyNameJeff12123 commented on #15
Was @6accOnThe6locc not able to assist?

[2022-10-29 13:43] rdavydov commented on #15
@MyNameJeff12123 I didn't ask. Maybe now he will join, since you mentioned him. ;)

I'll post my research log here:

Requests made by the Twitch Android app after you tap "Log In":

- POST to https://passport.twitch.tv/integrity - nothing new in headers - returns `{ "token": "<TOKEN>" }` in **RESPONSE BODY**
- POST to https://passport.twitch.tv/protected_login - nothing new in headers - in **REQUE

[2022-10-29 13:46] Rakambda commented on #15
I think integrity also fills up some cookies

[2022-10-29 13:49] rdavydov commented on #15
@Rakambda Yeah, I think you mean these:
[code]

[code]

[2022-10-29 13:51] MyNameJeff12123 commented on #15
Twitch are using Kasada to protect against bots. @6accOnThe6locc hopefully will help with automation

[2022-10-29 13:57] Rakambda commented on #15
Yeah and kasada is annoying. Personally on my project, before adding the solution with the mobile client-id, I simply hooked it with a selenium instance pulling the integrity token regularly from the website itself.

[2022-10-29 14:04] Mohamed6935 commented on #15
Is the 2 stream limit just got reduced to only one?
![Uploading Screenshot_20221029-160322.png…]()

[2022-10-29 14:05] Mohamed6935 commented on #15
Is the 2 streams limit got reduced to only one
![Screenshot_20221029-160322](https://user-images.githubusercontent.com/103905207/198835879-d77480b3-46de-4b7d-8611-df42a259f0e6.png)

[2022-10-29 14:05] rdavydov commented on #15
Kasada headers are present, don't know if they were there before when we was able to just simply omit them on `/integrity`. If they are required now - that is a bummer.

[2022-10-29 16:30] rdavydov commented on #15
Well, it seems that sending an empty POST request to https://passport.twitch.tv/integrity without the Kasada headers fails the integrity.

In this case our only solution is pulling the integrity token via a Selenium instance. This might take a lot of time to implement and test. No workaround for now.

[2022-10-29 16:57] Rakambda commented on #15
If you want an inspiration by how I did it : https://github.com/Rakambda/ChannelPointsMiner/blob/develop/miner/src/main/java/fr/raksrinana/channelpointsminer/miner/api/gql/integrity/browser/BrowserIntegrityProvider.java
This part is for the GQL integrity.

I never managed to get the passport one working. So I just login through the browser and then import the cookies (this isn't an issue as passpo

[2022-10-29 19:36] DevilXD commented on #15
@Rakambda Just wondering, did it work out long-term? My personal research tells me that Twitch will detect and deny any non-mainstream browser, other than Chrome or Firefox. Haven't tried Opera yet, but Selenium-based webdriver is definitely detected too. As well as Brave browser that I've seen users complaining about not being able to claim drops, shortly after the integrity system got implemente

[2022-10-29 21:22] Rakambda commented on #15
It's been a month that I use it and it's still working. The login part never worked, the selenium instance is somehow detected. But for the GQL part it isn't.

Everything on the GQL is protected. What works is getting the +10 points (spade url, can be found on the webpage itself) and getting the "notifications" of what's happening on your account (pubsub api, public).

Never managed to get the log

[2022-10-29 22:26] 6accOnThe6locc commented on #15
You complicate things too much, for now I managed to do it https://github.com/6accOnThe6locc/twitch-mobile-token

Note: I found a way to circumvent but it's too risky to publicize it. Someone who understands a little can rewrite the method using selenium, I'm out of time, I can do it as soon as I have time.

[2022-10-30 02:08] 6accOnThe6locc commented on #15
I found a simple way to login to twitch with any client_id using seleniumwire https://github.com/6accOnThe6locc/twitch-mobile-token

[2022-10-30 08:33] rdavydov commented on #15
@Rakambda @DevilXD @6accOnThe6locc Thank you guys for sharing, so much useful info already, this is what open source is all about! 🙂

@DevilXD It is interesting that previously obtained "console" cookies work with the GQL requests made by the current version of the miner. Looks like `is_bad_bot` becomes `True` when the points miner logins to Twitch with cookies extracted from the browser with `bro

[2022-10-30 10:52] 6accOnThe6locc commented on #15
If it's just to use headless, I can finish what's left.

[2022-10-30 11:04] rdavydov commented on #15
@6accOnThe6locc Good, I guess we have to get the verification code from the user's console input and then input it digit-by-digit the same way via `driver.find_element().send_keys()`.

[2022-10-30 11:24] 6accOnThe6locc commented on #15
Ready guys, headless option working https://github.com/6accOnThe6locc/twitch-mobile-token

[2022-10-30 15:11] DevilXD commented on #15
Hmm, that's strange. In my testing, any rigged integrity token stopped working after a couple of hours. way before it'd normally expire, and trying to obtain a new one worked, but this new token would immediately fail as well, leading to a loop of token refreshing and failing.

Also, yeah, I don't mind those couple of lines. Use them as you see fit.

[2022-10-30 18:50] rdavydov commented on #15
https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/tree/selenium-gql

I've made a version that gets a GQL integrity token with Selenium, using cookies extracted from the browser (had to rewrite the original code) - no luck, `"failed integrity"` when claiming bonuses, even though `is_bad_bot = false`. It becomes `true` when I use headless mode.

Second approach will be only logging in with

[2022-10-31 00:20] FarmerBrianW commented on #15
I have a workaround.  From a Chrome browser, get an extension called Cookie-Editor.  Log into Twitch normally, then with the Cookie Editor, you can capture the twitch cookie to your clipboard, but it is in JSON format.   Next, you need to go to the cookie folder in your bot and convert that JSON to a PKL file.  I wrote this little python script to do this:
[code]

1. save this script as json-to-pi

[2022-10-31 07:48] lazinism opened #18 "Can't get "CLAIM" points (50pts)"
**Expected behavior**
Only points for watch (Reason: WATCH.) appears on console
Miner won't get clain point (Reason: CLAIM.) automatically

**Desktop (please complete the following information):**
 - OS: Windows
 - Python version 3

[2022-10-31 08:01] lazinism commented on #18
I'm getting this on debug log:
`31/10/22 16:59:44 - DEBUG - TwitchChannelPointsMiner.classes.Twitch - [post_gql_request]: Data: {'operationName': 'ClaimCommunityPoints', 'extensions': {'persistedQuery': {'version': 1, 'sha256Hash': '46aaeebe02c99afdf4fc97c7c0cba964124bf6b0af229395f1f6d1feed05b3d0'}}, 'variables': {'input': {'channelID': '30904062', 'claimID': '75acefef-7b46-4c29-bbf4-f637e6d430fe'

[2022-10-31 08:59] rdavydov commented on #18
I'm already aware of this bug, it's in the description https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/releases/tag/1.3.5

Working on a fix, stay tuned.

[2022-10-31 09:04] rdavydov commented on #15
@FarmerBrianW Thanks for the effort, but the current version already can do what you proposed. ;)
And it is doing it automatically. We're working hard on making it able to CLAIM bonuses, etc - **this is it all about**.

[2022-10-31 16:11] rdavydov commented on #15
<img src="https://cs8.pikabu.ru/post_img/2016/10/22/3/1477104625110531972.jpg" width="400" />

https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/releases/tag/1.4.0

**Second approach is working beautifully.** Also, I've found what I forgot to do in the first one. Will fix it and test later.

For now, I think we can use the second approach. **You will need a display, _NO CAN DO_ on a headl

[2022-10-31 16:12] rdavydov commented on #18
@lazinism Please try the latest version https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/releases/tag/1.4.0

[2022-10-31 16:29] realAbitbol commented on #15
On MacOS Ventura I'm getting :

31/10/22 17:22:30 - INFO - [login_flow_backup]: Enter your verification code in the browser and wait for the Twitch website to load, then press Enter here.

31/10/22 17:22:57 - INFO - [login_flow_backup]: Extracting cookies...
31/10/22 17:22:59 - ERROR - [post_integrity]: Uh-oh, Twitch has detected this miner as a "Bad Bot"

Then the bot works but doensn't seem to c

[2022-10-31 17:08] rdavydov commented on #15
@realAbitbol that method has nothing to do with bonuses.

Could anyone else test this new version and report back?

[2022-10-31 17:11] PingkeuKeobi commented on #15
I am currently testing this, will report back with an edit.

[2022-10-31 17:23] realAbitbol commented on #15
Should I ignore the "BAD BOT" error ?

[2022-10-31 17:26] rdavydov commented on #15
Yes, I forgot to mention, the "bad bot" error can be safely ignored, for now Twitch lets us claim bonuses even though they are aware that we are bots. It is purely informational for now.

[2022-10-31 17:28] PingkeuKeobi commented on #15
@rdavydov

Good news! It works! I can claim bonuses and watch points! No errors!

[2022-10-31 17:30] lazinism commented on #18
Yes I think it works
I have customized version to apply on repl.it, so it takes some time to modify some...
Anyway it works
Thank you 👍 :)

[2022-10-31 17:30] #18 closed

[2022-10-31 18:29] rdavydov commented on #15
@PingkeuKeobi It's probably nothing if the miner continues mining. Can be ignored.

[2022-10-31 18:56] NoxRare commented on #15
@rdavydov - should one update if I'm on 1.3.4? Does this only fix login? I already have a cookie generated. Should I update or stay?

[2022-10-31 19:01] rdavydov commented on #15
Only fixes login issues.
If you already have a "console" cookie and your miner is claiming bonuses, you can stay on 1.3.4.

[2022-11-01 12:32] rdavydov commented on #15
@XaaRii have you tried the new version? Is everything OK? Please report back, so I can close this issue.

[2022-11-01 13:49] KraineOpasen commented on #15
Version 1.4.0 does not collect +50 bonus points

[2022-11-01 13:51] rdavydov commented on #15
Proof with debug logs or it didn't happen. 😉

[2022-11-01 14:26] antipatico commented on #15
Is there a way to login and then port the cookie back to docker?

[2022-11-01 14:44] XaaRii commented on #15
Haven't tried it yet, as I have my miner on a headless-only environment. But I guess generating cookies on a different machine and then move it should be sufficient? I don't really like having desktop environment on servers (where it isn't needed most of the time.)
That being said, I am not home yet. I'll report back once I'll get to it. ;)

[2022-11-01 15:02] KraineOpasen commented on #15
Post a log here? He is 1g

[2022-11-01 15:05] Mohamed6935 opened #20 "Any idea how is this possible?"
I noticed I was often getting douple raid points aka 250 and 250. But didn't look into it since never went in raid officially but this is broken
![Screenshot_20221101-170117](https://user-images.githubusercontent.com/103905207/199265998-d0478e36-f36f-4d61-917a-6d543c8e6e0c.png)

[2022-11-01 15:06] Mohamed6935 commented on #20
just checked the twitch client and yep those points seems legit somehow

[2022-11-01 15:37] rdavydov commented on #15
@antipatico

Yes, there is. Just copy the cookie file! :)

[2022-11-01 15:38] rdavydov commented on #15
Try to delete the cookie file, obtain it again with 1.4.0 and see how it goes.

[2022-11-01 15:39] KraineOpasen commented on #15
01/11/22 16:04:36 - INFO - [update_raid]: 🎭  Joining raid from Streamer(username=dezgamez, channel_id=41800397, channel_points=10.07k) to mouzakrobat!
01/11/22 16:05:35 - INFO - [on_message]: 🚀  +12 → Streamer(username=skill4ltu, channel_id=110775952, channel_points=33.9k) - Reason: WATCH.
01/11/22 16:05:35 - INFO - [claim_bonus]: 🎁  Claiming the bonus for Streamer(username=skill4ltu, channel_id=1

[2022-11-01 15:41] Mohamed6935 commented on #20
Good thing. Just wanted to share incase it is reproducible. Instead of 250 points it is idk 2.5k

[2022-11-01 15:43] rdavydov commented on #15
@KraineOpasen Dude, not cool. Use gist or pastebin for long logs.

[2022-11-01 15:51] rdavydov commented on #15
@KraineOpasen Stop being rude and arrogant or you will not get any help. This kind of behavior is not welcome here. First warning. I already replied to you.

[2022-11-01 16:03] KraineOpasen commented on #15
Only thanks to you everything works here

[2022-11-01 16:15] rdavydov commented on #15
1. Try to delete the cookie file (cookies\username.pkl), obtain it again with 1.4.0 and see how it goes.
2. Set
[code]
in your runner script (run.py).
3. When you open Twitch in your browser (like a normal user), do you have a green box waiting to be claimed on the channel?
4. If it is there, but the miner can't claim it, stop the miner and then post the contents of the log file (logs\username.log

[2022-11-01 16:59] antipatico commented on #15
I am having troubles running the "GUI" version to grab the cookie under windows:

I am using win10 with python 3.11, the chrome windows open up, then I see my username and password get filled but it crashes and stops with this log

[code]

[2022-11-01 17:06] rdavydov commented on #15
@antipatico Your message is hidden, same thing regarding long logs. This issue page will be impossible to read if everyone will be posting hundreds of lines.

[2022-11-01 17:09] antipatico commented on #15
@rdavydov I figured it was not getting input from stdin, but I guess that is another bug. I managed to login, but I am still getting flagged as a bad bot:

[code]

[2022-11-01 17:15] rdavydov commented on #15
@antipatico

And how did you make it get the input eventually?

It was already discussed here. I even mentioned it in the release notes. This error can be safely ignored, it's purely informational.

[2022-11-01 17:47] rdavydov commented on #15
@XaaRii Great report, thank you!

[2022-11-01 17:48] rdavydov opened #21 "If user has no Chrome installed"
So, i wanted to run it on my windows machine (tested on my personal Win10 and on a clean install of Win11). (Friendly reminder, it requires vc_redist (x64), otherwise it crashes with some error about failed dll load of _brotli.)
Anyways, both machines crashed while opening the browser (last thing in the log: `DEBUG - uc - [__init__]: did not find a bad exit_type flag`). Well, that IS because i hav

[2022-11-01 17:53] rdavydov commented on #21
Add info about:
1. Chrome
2. vc_redist x64
3. executable_path

[2022-11-01 17:55] rdavydov commented on #21
Also, need to test whether it will work with `geckodriver` instead of `undetected_chromedriver`.

[2022-11-01 18:02] rdavydov commented on #21
TODO:
- add `executable_path` as a setting to `run.py`
- wrap Selenium actions with `try..catch`

[2022-11-01 21:23] antipatico opened #22 "Selenium logins fails when password is set to None in TwitchChannelPointsMiner"
**Describe the bug**
When the password is set to `None` in the constructor of _TwitchChannelPointsMiner_ in the **run.py** file, the program crashes when it tries to login using selenium.

**To Reproduce**
Run the bot using the following `run.py` and input any password

[code]

**Expected behavior**
The program tries to login using the password given from stdin.

**Desktop (please complete the fol

[2022-11-02 08:56] PakDevil opened #25 "can I use an old version?"
Can I use the 1.34 version instead of the new one? I don't really trust the fact that I need to log in from a browser, or is it safe to use this bot without getting banned even when I log in from chrome and not from the bot itself?

[2022-11-02 08:58] rdavydov commented on #25
If you already have a "console" cookie and your miner is claiming bonuses, you can stay on 1.3.4.

[2022-11-02 09:02] taurynamonsterxdd opened #26 "Prediction"
2022-11-02T09:01:10.950569+00:00 app[worker.1]: 02/11 09:01:10 - Going to complete bet for EventPrediction: xqc (36.2k points) - Who wins ???
2022-11-02T09:01:10.950813+00:00 app[worker.1]: 02/11 09:01:10 - Skip betting for the event EventPrediction: xqc (36.2k points) - Who wins ???
2022-11-02T09:01:10.950956+00:00 app[worker.1]: 02/11 09:01:10 - Skip settings FilterCondition(by=TOTAL_USERS, wher

[2022-11-02 09:14] rdavydov commented on #26
Write a normal bugreport, there is no error in your log.
It's not cool to just throw lines of log without any context and comments.
I don't use bets and it is not clear what you mean here. You have to be specific.

[2022-11-02 09:35] PakDevil commented on #25
I have 0 problems with the 1.3.4, predictions and bonuses works just fine.
Is it safe to use the 1.4.0? since it log in through chrome and not the bot as it used to and the website "not secured"

[2022-11-02 09:37] PakDevil commented on #26
From the lines I see here there is no error, Change the value of the LTE to a bigger number and it should be working just fine

[2022-11-02 09:43] rdavydov commented on #25
It is safe.
This project is open source, you can examine the code yourself.

[2022-11-02 09:47] rdavydov commented on #26
@taurynamonsterxdd please try @PakDevil 's suggestion and report back.

[2022-11-02 10:36] ahmetozmtn opened #29 "Windows 11 Docker Error"
Hello good day
When I build and run the code on docker in windows 11, it gives the following error, how can I fix this error?

![image](https://user-images.githubusercontent.com/60090458/199465779-8e3cb830-5aa2-4224-ab11-eb8adb43a593.png)

docker run twitchbot:experimental
Error: python: can't open file 'run.py': [Errno 2] No such file or directory

The steps I followed
- Download the repo from Gi

[2022-11-02 10:42] rdavydov commented on #29
Hello,

You didn't create a `run.py` file. See https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2#how-to-use

[2022-11-02 10:42] MyNameJeff12123 commented on #29
Rebuild it and rename example.pu to run.pySent from my iPhone 13 Pro MaxOn 2 Nov 2022, at 10:36, Ahmet Özmetin ***@***.***> wrote:﻿
Hello good day
When I build and run the code on docker in windows 11, it gives the following error, how can I fix this error?

docker run twitchbot:experimental
Error: python: can't open file 'run.py': [Errno 2] No such file or directory
The steps I followed

Download

[2022-11-02 10:45] rdavydov commented on #29
Don't just rename it, you need to edit it. See my answer above.

[2022-11-02 10:45] PakDevil commented on #25
code seem the same as the old one, from what I see you just made it to open on chrome to save cookies (if I'm not mistaken)

Thank you :)

[2022-11-02 11:06] taurynamonsterxdd opened #30 "html doesnt show graphs"
![image](https://user-images.githubusercontent.com/108152893/199474229-71d768ea-03bd-4415-a35c-fcaf00ddef0f.png)

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twitch-Channel-Points-Miner-v2</title>
    <link rel="icon" type="image/png" sizes="32x32" href="https://static.twitchcdn.net/assets/favicon-32-e29e24

[2022-11-02 11:12] rdavydov commented on #30
Yeah, it's because you opened a static page.

You need to know what you're doing, stop creating false issues!
READ THE README BEFORE DOING ANYTHING!

Specifically this https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2#analytics regarding Analytics.

[2022-11-02 11:16] rdavydov commented on #30
You need to access it via http://127.0.0.1:5000

[2022-11-02 11:25] rdavydov commented on #29
Show the output of `ls`

[2022-11-02 11:25] rdavydov commented on #29
Oh, it's Windows, then `dir`, not `ls`

[2022-11-02 11:49] ahmetozmtn commented on #29
![image](https://user-images.githubusercontent.com/60090458/199482466-22405142-d39c-4512-a3ff-d0b1ba8e3d64.png)

[2022-11-02 13:20] rdavydov commented on #29
What error? I guess it should be different one now.

[2022-11-02 17:07] rdavydov commented on #29
If it's the same error, maybe it is related to this remark by @Tkd-Alex from README:

I don't really know why it is happening and why it can't see the run.py file, since I don't use Docker.

Could someone else assist with this issue?

[2022-11-02 17:12] #25 closed

[2022-11-02 17:12] #15 closed

[2022-11-02 17:37] rdavydov commented on #29
@ahmetozmtn It would be nice of you to leave a comment before closing the issue, so it will help other people with the same problem. Did you manage to solve this issue? What was the cause?

[2022-11-03 20:53] Twi5TeD opened #31 "login required"
03/11/22 20:51:52 - INFO - TwitchChannelPointsMiner.classes.TwitchLogin - [login_flow]: You'll have to login to Twitch!
03/11/22 20:51:52 - DEBUG - urllib3.connectionpool - [_new_conn]: Starting new HTTPS connection (1): passport.twitch.tv:443
03/11/22 20:51:53 - DEBUG - urllib3.connectionpool - [_make_request]: https://passport.twitch.tv:443 "POST /protected_login HTTP/1.1" 400 135
03/11/22 20:51

[2022-11-03 22:27] rdavydov commented on #31
What's your specs?
Post the contents of the log file (logs\username.log) to https://gist.github.com/ and leave a link here.
And create another gist with your console output, just in case. Paste a link here as well.

[2022-11-03 22:33] Twi5TeD commented on #31
https://gist.github.com/Twi5TeD/946ca81a8e5f0a187c5da4d15c1f71e1 theres the gist of the log
im running windows 10
AMD Ryzen 5
16.0GB ram
4095MB NVIDIA GeForce GTX 1070
also python is installed on my d: drive and running the program from there also
the console closes straight away so cant copy the output

[2022-11-03 22:53] PingkeuKeobi commented on #31
Do you have google chrome installed, you MUST have it installed.

[2022-11-03 22:58] Twi5TeD commented on #31
yes i do  Version 107.0.5304.88 (Official Build) (64-bit)

[2022-11-03 23:50] FarmerBrianW commented on #15
For my solution, I was on a PuTTY session on my raspberry pi, running just enough OS for the command line, so no GUI, and no graphical browser, just running python from the command line, so I was never getting prompted for the 2FA.  I will create a Docker and see if I have better luck.

[2022-11-04 01:06] rdavydov commented on #31
This means you're running the script just by double-clicking it or you're opening it straight from the file explorer. Am I right?
If yes, please open a new console window, `cd` to the directory and run the script from this console window.
This way it should not close and you can get the full console output.

[2022-11-04 01:09] rdavydov commented on #31
And you can also do `py run.py > output.txt`. This will save the output to a txt file.

[2022-11-04 01:25] rdavydov commented on #15
What solution? Manual cookies extraction from the browser? It was already implemented in the miner even before I forked it. I used it in [1.3.5](https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/releases/tag/1.3.5). And the most important part: **you can't collect bonuses with it.** If you're fine with it - you're free to use your method or 1.3.5.

[2022-11-04 11:31] Twi5TeD commented on #31
https://gist.github.com/Twi5TeD/4cde63e1a2a838e4ce6db28737d8b57c this is from the console it saying i dont have the module at the bottom but ive ran the requirements.txt file

[2022-11-04 11:32] Twi5TeD commented on #31
running py run.py > output.txt just made a file with nothing in it

[2022-11-04 11:42] Twi5TeD commented on #31
fixed the issue restarting pc seemed to fix it

[2022-11-04 11:42] #31 closed

[2022-11-04 12:11] ahmetozmtn commented on #29
Thanks for the help, but I couldn't solve the problem

[2022-11-04 12:29] rdavydov commented on #29
Let's keep this open, maybe someone else will help.

[2022-11-04 12:30] #30 closed

[2022-11-04 17:25] #22 closed

[2022-11-08 19:17] aVitomin opened #35 "RequestsDependencyWarning: urllib3 (1.26.12) or chardet (3.0.4)"
[code]

I need ignore this or i did something wrong ?

[2022-11-08 19:19] aVitomin commented on #35
starting via pm2
`sudo pm2 start run.py --interpreter=python3 --name twitch`

[2022-11-08 19:35] aVitomin commented on #35
[code]

[2022-11-09 09:23] rdavydov commented on #35
Try to run it without pm2 and report back.

[2022-11-09 09:28] rdavydov commented on #35
And write a normal bug report. The template was put there for a reason.

**Desktop (please complete the following information):**
 - OS: [e.g. Windows]
 - Python version [e.g. 3.x]
 - Other relevant software versions

[2022-11-10 05:22] aVitomin commented on #35
Sorry
OS: Ubuntu 20.04.5 LTS
Python version:
[code]
Other relevant software versions: How to check this ?

[code]

[2022-11-10 20:27] aVitomin commented on #35
Yep i duplicate last ver from repo

[code]

[2022-11-10 20:41] rdavydov commented on #35
There is something wrong with your system. I advise you to do a clean reinstallation of both python and pip.

[2022-11-10 20:49] aVitomin commented on #35
Probably fixed with venv
`sudo pm2 start run.py --interpreter=./venv/bin/python3 --name twitch`

![Xshell_mQ4rScFHl7](https://user-images.githubusercontent.com/11780299/201202866-5ef80d18-4685-4c22-b3bc-27ce3b74866e.png)

[2022-11-10 20:51] rdavydov commented on #35
And you do not need to `sudo` when you are already `root@hiplet-606`.
First of all, try to just upgrade pip: `pip install --upgrade pip`

And why do you use `python3` instead of just `python`? Do you also have python v2 installed on your system? That's why I suggested `pip3`.

Actually, the only reason why you should use `python3` and `pip3` is when you have python2 installed as a `python` command

[2022-11-10 20:55] aVitomin commented on #35
Yeah, sudo is my bad (paste from old VPS)
I don't have python2 but if i try use just python, system dont know what to do
![image](https://user-images.githubusercontent.com/11780299/201203867-da56771f-4897-4c27-b7d8-497480c5afcb.png)

[2022-11-10 20:57] rdavydov commented on #35
Gotcha. Well, I'm glad your problem was solved with `venv`. Happy mining! :)

[2022-11-10 20:58] #35 closed

[2022-11-11 20:42] Somebodyisnobody commented on #31
Same issue here:
[code]

[2022-11-11 20:46] rdavydov commented on #31
@Somebodyisnobody Not the same.

The answer most likely lays in the first line of your log.

`Python 3.6 is no longer supported by the Python core team`

Update Python to the latest version and try again.

[2022-11-11 20:50] Somebodyisnobody commented on #31
Ooomph i just installed 3.11 but there was an old path variable and the first python.exe was found. I hate working with consoles...
Works with 3.11

[2022-11-11 20:58] rdavydov opened #37 "Raspberry Pi3b to slow for CAPTCHA"
Hello Together
First of all, thank you for the exact project :)

Until Twitch changed the login 1.3.2 everything ran fine on my Raspberry Pi3b. Now you have to plug in yes with CAPTCHA certified, oke display installed and run the script.

Problem is that the Raspberry Pi3b takes a very long time to open Chromium Browser. Unfortunately the script then aborts the login attempt because the Chromium b

[2022-11-11 21:13] rdavydov commented on #37
@spardas1981 Could you please provide a full DEBUG log, so it will be more clear whether it is a timeout error or something else?

1. Set
[code]
in your runner script (run.py).
2. Start the miner, wait for the error, then stop the miner and post the contents of the log file (logs\username.log) to https://gist.github.com/ and post a link here.
3. Create another gist with your console output, just i

[2022-11-11 22:09] spardas1981 commented on #37
First of all, thank you for looking at this.

So I hope I have done everything right:
https://gist.github.com/spardas1981/701ac6172308bcdfaded41863473757d

Creating cookies on the desktop would be great.  I also think that it is easier in the end.
Only the problem is, my little terminal knowledge is not enough to implement it properly :)

[2022-11-12 10:59] rdavydov commented on #37
1. `OSError: [Errno 8] Exec format error: '/home/pi/.local/share/undetected_chromedriver/637345fb522b4bf2_chromedriver'` is most likely caused by RPi having an ARM processor. More info:

- https://stackoverflow.com/questions/67848809/how-to-solve-oserror-errno-8-exec-format-error-when-running-python3-script
- https://stackoverflow.com/questions/64979042/how-to-run-seleniumchrome-on-raspberry-pi-4

[2022-11-12 11:06] rdavydov commented on #37
2. **Cookies moving method.** Obtain cookies for your account(s) on a desktop machine by logging in to Twitch with the miner. Cookies have a form of `username.pkl` files located in the `cookies` folder. Once they are there, just copy them to the corresponding `cookies` folder on your RPi.

[2022-11-12 17:15] spardas1981 commented on #37
Thank you very much.
After the Ubuntu and Twitch-Miner installation on my PC, I was able to export the cookie file as you described.
And after import the Twitch-Miner runs again on my Raspi.
I am happy :)
Can I donate you a coffee and a beer?

[2022-11-12 20:06] rdavydov commented on #37
You're welcome! Happy mining!

Sure, you can donate:
* **DOGE** DAKzncwKkpfPCm1xVU7u2pConpXwX7HS3D **(preferred)**
* **XMR** 46fzadEigE7B3kyJB6AdiccaTha3SWUdTNnE4FL6YtjCgYMASAyXGkMe1XY4iApv2VDSxBT6d8PTW3vwtNWnfu6W4g4jyJF
* https://www.buymeacoffee.com/davydov

[2022-11-14 22:34] rdavydov opened #42 "pre-built Docker image"
This is not the first time people asking for a pre-built Docker image, so I will add this to my TODO list.

_Originally posted by @rdavydov in https://github.com/Tkd-Alex/Twitch-Channel-Points-Miner-v2/issues/651#issuecomment-1314496701_

[2022-11-14 22:53] rdavydov commented on #42
Reserved an address https://hub.docker.com/r/rdavidoff/twitch-channel-points-miner-v2

[2022-11-15 16:42] rhddbdyd opened #43 "How do I resolve this error?"
16/11/22 01:39:17 - DEBUG - urllib3.connectionpool - [_new_conn]: Starting new HTTPS connection (1): raw.githubusercontent.com:443
16/11/22 01:39:18 - DEBUG - urllib3.connectionpool - [_make_request]: https://raw.githubusercontent.com:443 "GET /rdavydov/Twitch-Channel-Points-Miner-v2/master/TwitchChannelPointsMiner/__init__.py HTTP/1.1" 200 125
16/11/22 01:39:18 - INFO - TwitchChannelPointsMiner.T

[2022-11-15 16:43] rhddbdyd commented on #43
Disabling 2FA also automatically shuts off with the same error

[2022-11-15 16:43] rdavydov commented on #43
There is no error.

[2022-11-15 16:48] rdavydov commented on #29
@Rakambda Could you please help us with this issue?

I've just installed Docker on Win10, built an images from Dockerfile, but it also exist with Rakambda

[2022-11-15 17:06] rdavydov commented on #43
You mean it just exits with no error message?
Did you read and do everything that was mentioned in the release notes for v 1.4.0?
If yes - provide a full DEBUG log.

[2022-11-15 17:07] rdavydov commented on #43
How to provide a full DEBUG log:
1. Set
[code]
in your runner script (run.py).
2. Start the miner, wait for the error, then stop the miner and post the contents of the log file (`logs\username.log`) to https://gist.github.com/ and post a link here.
3. Create another gist with your console output, just in case. Paste a link here as well.

[2022-11-15 17:09] rdavydov commented on #43
And write a normal bug report. The template was put there for a reason.

**Desktop (please complete the following information):**
 - OS: [e.g. Windows]
 - Python version [e.g. 3.x]
 - Other relevant software versions.
 - The most important part: miner version.

[2022-11-15 18:31] rdavydov commented on #29
@ahmetozmtn Try to replace Dockerfile with https://gist.github.com/rdavydov/5c4c53ca1bd237d6c800f63856a499b1

[2022-11-15 18:35] rdavydov commented on #29
Docker container is only useful when you already have a cookie file. Docker can only run CLI programs, so it will not start Google Chrome in the non-headless mode.

However, there are workarounds. I think I should experiment with a VNC server in a container, this may be a good cross-plaform approach. More info: https://www.howtogeek.com/devops/how-to-run-gui-applications-in-a-docker-container/

[2022-11-15 19:09] rdavydov commented on #29
Nevertheless, adding `COPY ./run.py ./` to the `Dockerfile` should solve @ahmetozmtn 's problem.

[2022-11-15 19:12] rdavydov commented on #42
Branch for Docker-related work https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/tree/rdavydov-docker

[2022-11-15 19:13] rdavydov commented on #42
[GitHub action for deploying](https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/actions/workflows/deploy-docker.yml)

[2022-11-15 19:27] Rakambda commented on #29
Not sure why I got pinged here but

[Selenium has docker images](https://github.com/SeleniumHQ/docker-selenium) that you can add to a docker-compose/swarm/kubernetes... stack. It also has vnc integrated to it so that you can interact with the browser.
From a code point of view it changes nothing, just that instead of creating a ChromeDriver, you create a RemoteDriver.

In the case of my project ev

[2022-11-15 21:25] rdavydov opened #44 "'Something went wrong' when you try to login with the miner"
They did it again. :(
They've started to detect UC and won't let you login with the miner.

Error message:
[code]
`/integrity` response:
[code]

Related issue: https://github.com/ultrafunkamsterdam/undetected-chromedriver/issues/897

[2022-11-15 21:28] KRyouCK commented on #43
Can't login twitch for first time too. Login/Pass is correct and working perfect directly in browser without this miner.
Twitch error after i'm trying take cookies: Something went wrong. Please try again.
Few days ago i had no problem with it.

[2022-11-15 21:30] rdavydov commented on #43
Not related to this.

Known issue https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/issues/44

[2022-11-15 21:32] XaaRii commented on #21
forgot to say, i tried both double backslash and normal slash as well. This really seems like an issue on UC's side, just tested putting the chrome folder (with executable) to their default installation location and it was indeed used (so it's probably a hardcoded path)

If you're interested in traceback when no chrome is found, here you go. But I understand it's probably no use for you...
https:/

[2022-11-15 21:58] bttfw commented on #42
First off all thanks for continuing with the project

One question why are you coping the run.py into the docker ?

[2022-11-15 22:04] 6accOnThe6locc commented on #44
Working https://github.com/6accOnThe6locc/twitch-mobile-token

[2022-11-15 22:13] rdavydov commented on #44
@6accOnThe6locc thanks for the quick response. 👍

I will need to rewrite the login flow once again and it will also require to manually fill the cookies data. 😔

Will do it tomorrow, it's already nighttime here. 😴

[2022-11-15 22:22] rdavydov commented on #42
You're welcome.

Because of this https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/issues/29

[2022-11-15 22:28] bttfw commented on #42
So everytime you change something in your run we will have to redeploy the container ?

In linux it gives this in the  error logs

exec /usr/local/bin/python: exec format error

[2022-11-16 02:06] rdavydov commented on #29
@ahmetozmtn Abort my previous suggestion. The correct solution for Windows lies in the correct command line: `docker run --name user2 -v C:\Absolute\Path\To\Twitch-Channel-Points-Miner-v2\run.py:/usr/src/app/run.py:ro -p 5002:5000 rdavidoff/twitch-channel-points-miner-v2`

run.py MUST be mounted as a volume (-v).

Everything else is described in https://github.com/rdavydov/Twitch-Channel-Points-Mi

[2022-11-16 02:06] rdavydov commented on #42
Good point. I've just started using Docker today, so I'm still learning about it. Copying was indeed unnecessary.

[2022-11-16 10:58] rdavydov commented on #44
Good news, everyone! The fix is coming! Stay tuned, I'm adding the final touches! 😉

[2022-11-16 11:23] #44 closed

[2022-11-16 12:51] KRyouCK opened #46 "[SOLVED] Temporary ban from Twitch returns error 5023"
![test](https://user-images.githubusercontent.com/57836316/202184721-ebb12763-2d98-45b3-b90a-fec082a7ece4.png)
Python 3.11.0-amd64 / latest updates
The old account from previously received cookie works fine.

[2022-11-16 12:54] ajchen02 opened #47 "Is it possible to set up in Termux anymore?"
First, thanks for your continuing updates :)
I have tried to set up Tkd-Alex's version on Termux for an whole day and failed repeadly.
After seeing that the readme wasn't changed and #21 , I want to ask if Termux is still useable or not since i really don't have any energy to try this.

[2022-11-16 12:56] rdavydov commented on #46
Something is wrong on your side. Provide a DEBUG log.

[2022-11-16 12:57] rdavydov commented on #46
How to provide a full DEBUG log:
1. Set
[code]
in your runner script (run.py).
2. Start the miner, wait for the error, then stop the miner and post the contents of the log file (`logs\username.log`) to https://gist.github.com/ and post a link here.
3. Create another gist with your console output, just in case. Paste a link here as well.

[2022-11-16 13:01] rdavydov commented on #47
I have no idea, I never used Termux.

Could be more specific, what commands did you enter, what exactly didn't work?

[2022-11-16 13:03] 6accOnThe6locc commented on #47
I think what limited Termux was the browser, possibly as the new login method will be possible

[2022-11-16 13:07] KRyouCK commented on #46
https://gist.githubusercontent.com/KRyouCK/9db9cd337595d18e4ca3b9daa7acec81/raw/8cf72bce428fe2a34340e077eca92e177dc75f0e/gistfile1.txt

[2022-11-16 13:12] KRyouCK commented on #46
https://gist.github.com/KRyouCK/555aeb4eab71d53f75e7e1f1485e8d9d/raw/3942a17f15f454d189fb7bff676f622b12e150e6/gistfile1.txt

[2022-11-16 13:16] KRyouCK commented on #46
all files are original from source code 1.5.0, only created run.py with my own login/password

[2022-11-16 13:17] rdavydov commented on #46
Just logged in with 1.5.0, no errors, CLAIMs as expected.

Hmm, what could be wrong on your side? 🤔 Need to think.

[2022-11-16 13:28] rdavydov commented on #46
Interesting.

I guess they're using this error 5023 also with a temporary ban. Confusing stuff.

Okay, let's wait till they lift the ban from that account. Please report back if anything changes.

[2022-11-16 13:39] rdavydov commented on #14
@ajchen02 I doubt that. @PakDevil said they were banned from streamers, not from Twitch.

Only if Twitch has some sort of indicator for streamers that this particular viewer was recognized as a bot and streamer can decide to ban this viewer.

Would be interesting to know whether streamers have such feature or not.

None of my accounts were banned, I mine with them 24/7 for almost half a year now.

[2022-11-16 13:46] rdavydov commented on #42
You can test it with 1.5.0. Pretty good chance that it should work now.

[2022-11-16 13:47] rdavydov commented on #42
Man, GitHub action that builds a docker image takes ages to complete. It's been more than 2 hours already.
https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/actions/runs/3478905407

I guess I should just build and push it manually. Will do so, stay tuned for an update.

[2022-11-16 14:22] rdavydov commented on #42
1.5.0 is now on https://hub.docker.com/r/rdavidoff/twitch-channel-points-miner-v2

Please test and report back any issues and suggestions!

[2022-11-16 14:50] Kazushi-0 commented on #42
exec /usr/local/bin/python: exec format error

well I think that cuz im using an arm processor

[2022-11-16 15:06] Kazushi-0 commented on #42
alright

[2022-11-16 15:19] ajchen02 commented on #47
entered `pip install -r requirement.py`
and this
https://pastebin.com/3UysR1AU

[2022-11-16 15:22] rdavydov commented on #47
And all the commands before that.

[2022-11-16 17:00] rdavydov commented on #42
Notes for me:

[code]

`ENV CRYPTOGRAPHY_DONT_BUILD_RUST=1` seems to be helping with `Rust 1.41.1 does not match extension requirement >=1.48.0`

but it still hangs on `Building wheel for pandas`

upgrading pip may fix this hanging, checking.

[2022-11-16 17:39] rdavydov commented on #42
Well, it seems that it is not hanging, but compiling `pandas` from sources takes *an awful lot of time*.

Trying to create `Dockerfile.arm32v7` with `pip install --index-url=https://www.piwheels.org/simple --no-cache-dir -r requirements.txt`

`piwheels` are pre-compiled binary Python packages specifically for the [Raspberry Pi](https://www.raspberrypi.com/).

[2022-11-16 18:38] rdavydov commented on #42
`Dockerfile.arm32v7` didn't help, had to add a condition to `Dockerfile`:

[code]

Condition works, but now it can't get pillow from piwheels 😩:

[code]

Now I'm trying to only get pandas from piwheels:

[code]

Man, this is tiresome. And pandas are only needed for Analytics to work! 😫

[2022-11-16 18:50] rdavydov commented on #42
Same error for pandas.

Indeed, armv7 is not listed in https://pypi.org/project/pandas/#files

I'll try one more trick with `apt-get install python3-pandas`

[2022-11-16 19:11] rdavydov commented on #42
@Kazushi-0 are you using Analytics on your armv7 miner instance(s)? Maybe I should just drop pandas for armv7.

[2022-11-16 19:44] rdavydov commented on #42
Notes for me:

[code]

`pandas` also need `numpy`

[2022-11-16 21:32] MyNameJeff12123 opened #48 "Error sending minute"
16/11/22 21:31:45 - ERROR - [send_minute_watched_events]: Exception raised in send minute watched
Traceback (most recent call last):
  File "C:\Users\Administrator\Desktop\Twitch-Channel-Points-Miner-v2-master\TwitchChannelPointsMiner\classes\Twitch.py", line 457, in send_minute_watched_events
    response = requests.post(
  File "C:\Users\Administrator\AppData\Local\Programs\Python\Python39\lib\s

[2022-11-16 22:44] ajchen02 commented on #47
`pkg install python git`
`git clone https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2`
`pkg install openssl`
`cd Twitch-Channel-Points-Miner-v2`
`pip install -r requirements.txt`
[Full log here](https://pastebin.com/uRkaHGZj)

[2022-11-16 22:50] bttfw commented on #42
Starts on pi3 but gets allot of

16/11 23:49:04 - Error with GQLOperations (ReportMenuItem): HTTPSConnectionPool(host='gql.twitch.tv', port=443): Max retries exceeded with url: /gql (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0xffff7d91d220>: Failed to establish a new connection: [Errno 110] Connection timed out'))

and streamer does not exist

Do i need to regenra

[2022-11-16 23:34] rdavydov commented on #42
Either a connection issues or too many concurrent connections. If your miner is still able to get WATCH and CLAIM points between those errors, then you can just ignore them.

Does this streamer really exist? Better double-check that. 😉

If you already have a "console" cookie and your miner is claiming bonuses, you don't need to obtain a new cookie.
Check your run.py for this non-existent streamer.

[2022-11-16 23:42] rdavydov commented on #48
Not accepted like this, make a proper bug report. The template was put there for a reason, why did you delete it?

It's not cool to just throw lines of log without any context and comments. You have to be specific if you want people to help you.

**Desktop (please complete the following information):**
 - OS: [e.g. Windows]
 - Python version [e.g. 3.x]
 - Other relevant software versions.
 - The m

[2022-11-16 23:49] rdavydov commented on #47
**Before** the last step, `pip install -r requirements.txt`, try to run these commands:

`pkg -y install python3-pandas`

`sed -i '/pandas/d' requirements.txt`

Though, I doubt that it has a python3-pandas package. But still, worth a try.

[2022-11-16 23:55] rdavydov commented on #47
Actually, abort that.

**Before** the last step, `pip install -r requirements.txt`, try to:

- Disable analytics in run.py
- `sed -i '/flask/d' requirements.txt`
- `sed -i '/pandas/d' requirements.txt`

It is obvious you won't be running Analytics in a termux instance on your mobile phone (or whatever it is).

[2022-11-17 01:31] KRyouCK commented on #46
Was unbanned after 24 hours. No more problems with miner auth.

[2022-11-17 04:15] ajchen02 commented on #47
[code]

[2022-11-17 07:24] Kazushi-0 commented on #42
sorry for late reply...
anyway IT WORK perfectly fine for me.Thx for making Docker image for easy installation

[2022-11-17 09:07] Kazushi-0 commented on #42
about the Analytics if you cant do that then i can live without it...

[2022-11-17 10:00] rdavydov commented on #42
I managed to add `pandas` even for `armv7`, so Analytics should work just fine.
But it is still better to disable Analytics on a low-memory (RAM) devices. Memory consumption drops significantly when you disable it.

I added it just for the sake of challenge. :)

[2022-11-17 10:02] rdavydov commented on #47
`  DEPRECATION: pillow is being installed using the legacy 'setup.py install' method, because it does not have a 'pyproject.toml' and the 'wheel' package is not installed. pip 23.1 will enforce this behaviour change. A possible replacement is to enable the '--use-pep517' option. Discussion can be found at https://github.com/pypa/pip/issues/8559`

[2022-11-17 10:03] rdavydov commented on #47
https://stackoverflow.com/questions/62956054/how-to-install-pillow-on-termux

[2022-11-17 10:09] rdavydov commented on #47
After installing `pillow`, do:

`sed -i '/pillow/d' requirements.txt`

This sed command removes `pillow` from the txt file. You can also just edit it manually and remove `flask` and `pandas` as well.

[2022-11-17 10:24] rdavydov commented on #47
**I guess you didn't do what the README clearly mentions about `pillow` for termux:**

[code]

Anyway, here is another approach to this issue:

There is also https://packages.debian.org/stable/python3-pillow so termux might have a package as well.

Indeed, https://packages.termux.dev/apt/termux-main/pool/main/p/python-pillow/

### **Before** the last step, `pip install -r requirements.txt`, you ca

[2022-11-17 10:28] #46 closed

[2022-11-17 10:35] rdavydov opened #49 "Handle error 5023 as a temporary ban from Twitch"
Inspired by https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/issues/46

TODO:
- handle this error and inform user
- suggest waiting 24 hours till they lift the ban from the account

[2022-11-17 10:40] rdavydov commented on #20
Seems like this is non-reproducible, no one else commented.

@Mohamed6935 Any new info on this? I'm going to close this issue if not.

[2022-11-17 10:44] rdavydov commented on #21
Now there is no need for this.

I'll keep this open for a while in case https://github.com/ultrafunkamsterdam/undetected-chromedriver/issues/897 will get any fixes.

It is always useful to have a backup option.

[2022-11-17 10:45] rdavydov commented on #26
@taurynamonsterxdd please respond or I will close this issue.

[2022-11-17 10:46] rdavydov commented on #43
@rhddbdyd please respond or I will close this issue.

[2022-11-17 11:11] Mohamed6935 commented on #20
Not too sure. It used to run like so while I had it on termux. The points are real but decided it was better run it 24/7 on my server and lose some points than keeping it on the phone. So yeah feel free to close it since it most likely was just my installation

[2022-11-17 11:25] Kazushi-0 commented on #42
what a gigachad you are dude

[2022-11-17 11:32] Kazushi-0 commented on #42
![image](https://user-images.githubusercontent.com/89697869/202435221-08d9439b-f5a9-49b5-a27f-1e32678abc21.png)

Is this how to enable Analytics?or im just doing it wrong

[2022-11-17 11:38] #20 closed

[2022-11-17 11:47] rdavydov commented on #42
You're doing it right, but it can't see the `pandas` module. 😩

What `armv7` device are you using BTW? How much RAM do you have in there?

[2022-11-17 12:40] Kazushi-0 commented on #42
Yes, im pulling the latest docker image
Raspberry pi 4 model B
4GB Ram

[2022-11-17 12:57] rdavydov commented on #42
_Notes for me:_

Running an `armv7` image on a different platform:

[code]

where `sha256:ebcc5b555a9ea555daa541e3cbb74cf9e040d2f9156bbf82a142f5e2dc6306a7` is a hash for the `armv7` image from Docker Hub.

I'm going to replace `python3-pandas` with (or add) `apt-get -y install python-pandas` in the `Dockerfile`. This might help.

[2022-11-17 13:08] Kazushi-0 commented on #42
do you have to put -p 5000:5000 on docker run?

[2022-11-17 13:16] rdavydov commented on #42
Yes, for Analytics. This publishes or exposes the port (`-p, --expose`). It binds port 5000 of the container to TCP port 5000 on the host machine.

[2022-11-17 13:19] Kazushi-0 commented on #42
alright btw how ur testing doing?

[2022-11-17 14:04] rdavydov commented on #42
Didn't work. `python-pandas` is for Python 2 and `python3-pandas` is for Python 3.

What really strange is this:
[code]

**python3-pandas is already the newest version (0.23.3+dfsg-3).**
@
**ModuleNotFoundError: No module named 'pandas'**

🤷‍♂️🙄

[2022-11-17 14:11] Kazushi-0 commented on #42
i got the same error while it already the newest version

[2022-11-17 14:31] Kazushi-0 commented on #42
aight

[2022-11-17 15:54] rdavydov commented on #42
I found the culprit.

[code]

`apt`'s version of numpy is for python 3.7.

And it doesn't work with python 3.8.

So I guess we're gonna have to **downgrade to python 3.7** on `armv7`.

This needs some testing.

[2022-11-17 21:11] rdavydov commented on #42
`update-alternatives` method, `ln -sf /usr/bin/python3.7 /usr/local/bin/python` and `alias python=python3.7` didn't work.

Created a different `Dockerfile` for `armv7` called `Dockerfile.arm32v7`, added a new step to the GH action "deploy-docker", but GH doesn't understand `dockerfile` option:

`Warning: Unexpected input(s) 'dockerfile', valid inputs are ['add-hosts', 'allow', 'build-args', 'build

[2022-11-18 01:31] rdavydov commented on #42
Not so bad, it took "only" 2h 40m 7s to build the `armv7` image. 😏

@Kazushi-0 please pull the latest `armv7` image and check again. Analytics should finally work!

[2022-11-18 03:34] Kazushi-0 commented on #42
Now im having a problem pulling the image saying `docker: invalid reference format`

Docker run command :
`docker_ run --name twitch-akmal -v /my/path/run.py:/usr/src/app/run.py:ro -p 5000:5000 _rdavidoff:sha@3e79383d3b7e`

[2022-11-18 08:50] rdavydov commented on #42
`docker run --name twitch-miner -v /my/path/run.py:/usr/src/app/run.py:ro -p 5000:5000 docker.io/rdavidoff/twitch-channel-points-miner-v2:latest@sha256:3e79383d3b7eb28a8776dc4ba8ec6fbfb929dc971b89dae16cf8b37505c63a8b`

[2022-11-18 13:58] Kazushi-0 commented on #42
again sorry for late reply
and IT FRICKING WORK!!

[2022-11-19 05:10] TheMaxik opened #50 "Auto 2FA"
I'm always frustrated when i forgot about the Miner and lost multiple hours because it restartet and wanted a new 2FA code

There is a Library called pyotp i used wayback for my bot.
There you can give it your secret and it can generate the 2fa code on its own.
You would need to extract the code from the QR-Code when setting up 2fa but thats doable

[2022-11-20 02:49] B4kedBr3ad opened #53 "Replit"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-20 02:49] B4kedBr3ad commented on #53
miss

[2022-11-20 02:49] #53 closed

[2022-11-20 02:51] B4kedBr3ad opened #54 "Run replit"
Do you plan to make a template to run this in replit?

[2022-11-20 05:02] Kazushi-0 commented on #54
Well it is possible... I think i can try make a template

[2022-11-20 05:10] Kazushi-0 commented on #54
https://replit.com/@akmal-love-fort/Twitch-Channel-Points-Miner-v2-150?v=1

@B4kedBr3ad Try tested it and update on me if there somethings wrong

[2022-11-20 06:37] B4kedBr3ad commented on #54
Hmmmm, not work for me
![Screenshot_20221120-153519](https://user-images.githubusercontent.com/110211701/202889345-6063fa81-7bce-45a2-9f36-a09b889faab6.png)

[2022-11-20 06:39] B4kedBr3ad commented on #54
@Kazushi-0 Thanks but not work for me
I tried `python run.py`, password and username is correct
![Screenshot_20221120-153519](https://user-images.githubusercontent.com/110211701/202889395-155e5640-c98b-408d-a6aa-bcf3fb927381.png)

[2022-11-20 07:04] Kazushi-0 commented on #54
Is there a cookies in the cookies file if not try move/put cookies in the folder

[2022-11-20 07:38] B4kedBr3ad commented on #54
@Kazushi-0
Indeed, no cookie was generated.
What I did was fork [this](https://replit.com/@ConzoIsTaken/Twitch-Channel-Points-Miner-v2-150?v=1), change the username and password, and in the console type python run. py in the console and ran it.
How do I get it to work?

[2022-11-20 07:47] Kazushi-0 commented on #54
May i see ur run.py file?

[2022-11-20 07:54] B4kedBr3ad commented on #54
Okay. Its
[code]

[2022-11-20 07:59] Kazushi-0 commented on #54
I don't see anything wrong other then changing this
[code]

[2022-11-20 08:08] B4kedBr3ad commented on #54
Hmmm same error

[2022-11-20 08:19] Kazushi-0 commented on #54
And now idk what wrong with it hmmm...
Can you more your cookies to replit cookies folder

[2022-11-20 11:13] rdavydov commented on #54
https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/issues/49

[2022-11-20 11:34] B4kedBr3ad commented on #54
wtf banned
thanks @Kazushi-0 and @rdavydov
Try 24 hours later. will comment again if successful

[2022-11-20 13:03] Kazushi-0 commented on #54
I got these error before this and after using old cookies and it work fine for me

[2022-11-20 14:24] Kazushi-0 commented on #54
btw @rdavydov whats ur thought on my (replit)[https://replit.com/@ConzoIsTaken/Twitch-Channel-Points-Miner-v2-150?v=1] for some user that don't have a stable machine to run it and I add keep alive feature to it

[2022-11-20 20:05] rdavydov commented on #54
@Kazushi-0 Why did you delete README and LICENSE files? Why didn't you left any credits to the original authors and URL to the original repo at least in the description? Not cool. 😒

And I think that you also violated a GPL-3.0 license which clearly states that you should:
- add license and copyright notice
- state changes

https://replit.com/pricing states that always-on repls are only available

[2022-11-20 20:26] rdavydov commented on #50
Could you please elaborate. It looks like pyotp is for checking the authentication when you are making your own server app.
How can it replace a client's Authenticator app to authenticate on another website?

[2022-11-20 21:09] Egorka2017 opened #55 "help with Docker"
It would not be bad to make detailed instructions for those who do not know how to use Docker

[2022-11-20 21:10] Egorka2017 commented on #55
For example, record a video on installing and configuring Docker

[2022-11-20 22:52] Kazushi-0 commented on #54
Sorry, i didn't that i've violated a GPL-3.0 license i will surely add it immediately and i know there replit pricing are only available on paid plans and someone use it by make a host site than using uptimerobot to ping site every minutes to keep repls alive.

[2022-11-20 23:00] TheMaxik commented on #50
`totp = pyotp.TOTP(secret);`
And
`tfa = totp.now();`

[2022-11-21 00:16] rdavydov commented on #55
It's already in the README https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2#docker

[2022-11-21 00:28] rdavydov commented on #50
This doesn't help at all, I saw the [example](https://pyauth.github.io/pyotp/#working-example) too. I think you just copied and modified it.

How can it replace a client's Authenticator app to authenticate on another website (in our case, Twitch)? Because it is not for a client, it is for a server!

You mentioned that you used pyotp with your bot. How exactly? Could you please provide some real co

[2022-11-21 01:22] TheMaxik commented on #50
Yeah that how i exactly did it.
This wasnt from an example but it was from my code.

`import pyotp`
`def getTwoFactor():`
`    totp = pyotp.TOTP(secret);`
`    tfa = totp.now();`
`    print(f"Current 2FA: {tfa}");`
`    return tfa;'`

`How can it replace a client's Authenticator app to authenticate on another website`
That do you mean excatly? How a user would add the secret ?

[2022-11-21 11:40] B4kedBr3ad commented on #54
@rdavydov @Kazushi-0
Eventually, it appears that he was banned from Twitch. I just tried it with replit and it works fine, the cookie was generated fine too. Thanks for taking the time to help me figure this out!

[2022-11-21 12:06] rdavydov commented on #49
Done in https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/commit/39ede95aef8942eaecd971db651b64f7ec5c25b9

[2022-11-21 12:06] #49 closed

[2022-11-21 12:14] rdavydov commented on #50
What's the point in doing that?
Please show the full code how you're using `tfa` after that.

[2022-11-21 13:18] rdavydov commented on #54
Newer official version https://replit.com/@rdavydov/Twitch-Channel-Points-Miner-v2

[2022-11-21 14:46] #42 closed

[2022-11-21 14:49] #54 closed

[2022-11-21 14:50] #29 closed

[2022-11-21 14:51] rdavydov commented on #47
@ajchen02 Do you have any questions? Can I close this issue?

[2022-11-21 15:06] ajchen02 commented on #47
OH MY GOD IT PASSED ALL THE CHECKS THX

but...  [I can't login to twitch.](https://pastebin.com/216BVAtr)

[2022-11-21 15:14] rdavydov commented on #47
21/11/22 23:03:48 - INFO - [__init__]: You are running the version 1.5.0 of this script
21/11/22 23:03:48 - INFO - [__init__]: The latest version on GitHub is: 1.5.1

[2022-11-21 16:43] rdavydov commented on #47
https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/issues/46

[2022-11-21 18:00] TheMaxik commented on #50
def Login():
    print("Opening Login Page")
    ... Login in with username

    ... Waiting for Capcha... And Trying to solve it

    print("Generating 2FA Code")
    twofactor = getTwoFactor();

print("Waiting for 2FA Field to appear");
    try:
        tfaField = WebDriverWait(driver,30).until(EC.presence_of_element_located((By.XPATH,'//input[@autocomplete="one-time-code"]')))
        tfaField.

[2022-11-21 23:47] ajchen02 commented on #47
Successfully run after updating.
Thank you so much to support even i disppear for serval days.

[2022-11-21 23:47] #47 closed

[2022-11-22 09:58] ajchen02 commented on #47
also, here is mine step to install it, if it helped:
[code]
probably won't need to `pkg install python` anymore sinse we got `pkg install python-pillow`.

[2022-11-22 21:19] toxtodo opened #56 "How do I resolve this error?"
Immediately after starting this error appears ![image](https://user-images.githubusercontent.com/93946068/203421352-e9ffed06-7616-4050-899d-22a5cccf4adb.png)
then my list of streamers appears and the script stops ![image](https://user-images.githubusercontent.com/93946068/203423110-8a2f7c7e-5d9d-4b86-8420-a4733ffcaf2a.png)

[2022-11-22 21:58] rdavydov commented on #56
Not accepted like this and you know why.

[2022-11-22 22:00] #56 closed

[2022-11-22 22:01] #26 closed

[2022-11-22 22:01] #55 closed

[2022-11-22 22:02] #48 closed

[2022-11-22 22:03] #43 closed

[2022-11-23 16:57] exandi opened #58 "AttributeError: type object 'Settings' has no attribute 'analytics_path'"
**Describe the bug**
After an event prediction the Python Traceback is thrown:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone git
2. add credentials to example.py
3. change some settings in the example.py (for example Streamer Order)

**Expected behavior**
Not to thow the excetption

**Desktop (please complete the following information):**
 - OS: Linux 64bit (4.15.0-167-generi

[2022-11-24 00:44] toxtodo opened #59 "WARNING - websocket - [warning]: websocket connected"
**Describe the bug**
After running and loading the list of streamers, this error floods.
After this error the script continues to work as usual
I looked through the forums, and they say that need to turn off some logs.
I'm not good at this, and I don't understand anything.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to main folder
2. Click on examlpe.py
3. Awaiting upload. scro

[2022-11-24 08:06] rdavydov opened #60 "Docker + Analytics"
https://github.com/Tkd-Alex/Twitch-Channel-Points-Miner-v2/pull/96

@tmaarcxs Try this variants in `run.py`:
`twitch_miner.analytics(host="127.0.0.1", port=5000, refresh=5, days_ago=7)   # Analytics web-server`
`twitch_miner.analytics(host="0.0.0.0", port=5000, refresh=5, days_ago=7)   # Analytics web-server`

I see that you are using Docker.
1. Are you running the Docker image on your desktop/not

[2022-11-24 08:17] rdavydov commented on #58
Thank you, definitely a bug. No need for the log file, I already know where to fix this issue. Stay tuned.

[2022-11-24 08:33] rdavydov commented on #59
This is not an error, this is a warning that is shown by the websocket-client library, not by the miner.

Normally it should only appear one time during the start of the script.

Does this happen all the time while the script runs? Your image shows it occurs only at the start.

I need the log file to make a decision. Please attach a file to your message.

[2022-11-24 08:35] #58 closed

[2022-11-24 08:42] rdavydov commented on #59
Same https://github.com/Tkd-Alex/Twitch-Channel-Points-Miner-v2/issues/618

[2022-11-24 08:44] rdavydov commented on #59
I guess this warning message can bother some people, so I will try to find a way to disable it.

[2022-11-24 08:51] #59 closed

[2022-11-24 08:54] tmaarcxs commented on #60
This just blows my mind, I spent hours trying to fix that yesterday, I've just rebooted linux and changed to:
"twitch_miner.analytics(host="0.0.0.0", port=5000, refresh=5, days_ago=7) # Analytics web-server"

And.. it worked, it's fully operational now, im really glad, thank you a lot for helping me @rdavydov <3

[2022-11-24 10:29] #60 closed

[2022-11-24 12:22] JAPETW opened #61 "Auto claim stopped working"
Auto claiming twitch points have been working for weeks, but since 24.11.2022 it's not working.
![bVI3gX8xHOY](https://user-images.githubusercontent.com/50532993/203783558-b1e3cd75-bb70-47c0-9b6f-7955aceb9a9e.jpg)

[2022-11-24 12:25] rdavydov commented on #61
Not accepted like this, write a proper bug report https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/issues/new?assignees=&labels=bug&template=bug_report.md&title=

[2022-11-24 12:25] #61 closed

[2022-11-25 16:27] Egorka2017 opened #62 "error on vps"
when you run the script , an error immediately appears

 - OS: Windows server 2016
 - Python version 3.8
 - Miner version 1.5.0

**Log**
https://mega.nz/file/BaBAVLIZ#EtiljANQ_TAsqYoHTzFuAsyIod01eJRU9giW5mf1lgA

![image](https://user-images.githubusercontent.com/32340956/204025220-0c001c96-f1de-4fbb-9d97-b9bc9b42d765.png)

[2022-11-25 16:35] rdavydov commented on #62
The problem is not in the miner, it is your VPS. You have connections issues.

Can you access the Twitch website on this VPS?

P.S. You should update your miner to 1.5.2.

[2022-11-25 16:43] rdavydov commented on #62
What VPS provider are you using?

[2022-11-25 16:46] Egorka2017 commented on #62
I updated the script and it worked)

[2022-11-25 17:19] Egorka2017 opened #63 "error notification"
I want to be able to receive a notification in discord or telegram when the script throws any error to restart the script

[2022-11-25 17:53] rdavydov commented on #62
lol

[2022-11-25 17:53] #62 closed

[2022-11-25 18:03] SM1S opened #64 "When loading followers its way too slow , not like before ."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-25 18:10] rdavydov commented on #64
Not accepted, you didn't even put an effort to change the template. :(

[2022-11-25 18:10] #64 closed

[2022-11-27 04:19] toxtodo commented on #59
Yes, this only occurred at startup. I assume you fixed this, as I stopped seeing these warning message with the last update. I apologize, and thank you very much for your promptness, and for this project. I could not answer at once.

[2022-11-27 14:05] RCNOverwatcher opened #66 "Random connection/timeout errors"
When running the script, there are random timeout error messages in the log. I'm not sure if this is a problem with the miner or a problem with the VPS I'm using but I thought i would report it here just in case.

**To Reproduce**
Steps to reproduce the behavior:
Just came from using the bot so not eally sure what to put here.
Here's my modified script if it helps: https://gist.github.com/RCNOverw

[2022-11-28 11:14] rdavydov commented on #66
`Connection to www.twitch.tv timed out`

[2022-11-28 11:21] rdavydov commented on #66
It's your VPS, not the miner.

Either a connection issue or too many concurrent connections to Twitch from one IP address. Or your VPS just can't handle so many connections.

If your miner is still able to get WATCH and CLAIM points between those errors, then you can just ignore them.

[2022-11-28 11:21] #66 closed

[2022-11-28 17:15] sanjuant opened #67 "Dockerfile expose port 5000"
Hi,

I want to use traefik to expose the service of my vps. But in your dockerfile you don't expose port 5000.

Can you expose this port by default to avoid overloading the dockerfile and use it?

[2022-11-28 17:27] rdavydov commented on #67
Hi. No, an overload is what you are proposing. Not everybody needs Analytics and not everybody needs exactly port 5000.

[2022-11-28 17:27] #67 closed

[2022-11-28 18:12] rdavydov commented on #9
https://hub.docker.com/r/rdavidoff/twitch-channel-points-miner-v2

[2022-11-29 20:21] exandi opened #68 "ZeroDivisionError: division by zero"
Hey,
me again, after fixing this issue:
https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/issues/58

i will now get the next error message:

[code]

tell me please if you need more information, I will surely provide them, keep up the great work!

[2022-11-30 02:57] rdavydov commented on #68
Hey,
looks like `self.outcomes[index][OutcomeKeys.TOTAL_POINTS]` was zero in your case. 🤔

[2022-11-30 03:06] rdavydov commented on #68
Notes for me:
- https://github.com/Tkd-Alex/Twitch-Channel-Points-Miner-v2/pull/589
- https://github.com/Tkd-Alex/Twitch-Channel-Points-Miner-v2/issues/497
- https://github.com/Tkd-Alex/Twitch-Channel-Points-Miner-v2/pull/499

[2022-11-30 20:18] rdavydov commented on #68
Temporary division by zero fix https://github.com/rdavydov/Twitch-Channel-Points-Miner-v2/commit/6d67ca3f1789841040fa633160c563a03cce40a9